@using MVCPages

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <div class="row">
            <div class="col-md-12">
                MVCPages demo. See repository at <a href="https://github.com/joeriks/MVCPages">https://github.com/joeriks/MVCPages</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Sample sections:</strong>
                <ul>
                    <li>
                        <a href="/">Using POCOs</a>
                    </li>
                    <li>
                        <a href="/j">json/</a>
                    </li>
                    <li>
                        <a href="/y">yaml/</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                @{var mvcPages = MVCPages.Navigation.GetCurrent();}

                <p><strong>Dynamic Navigation (using metadata and urls):</strong></p>
                @{
                    var current = mvcPages.Current();
                }
                <p><a href="@(mvcPages.RootUrl + current.Url)">@current.Url</a> : @current.Title</p>

                <p><strong>Parent</strong></p>
                @{

                    var p = mvcPages.Parent();
                    if (p != null)
                    {
                        <p><a href="@(mvcPages.RootUrl + p.Url)">@p.Url</a>: @p.Title</p>
                    }
                    else
                    {
                        <p>No parent</p>
                    }
                }


                <p><strong>Siblings:</strong></p>
                <ul>
                    @foreach (var page in mvcPages.Siblings())
                    {
                        <li><a href="@(mvcPages.RootUrl + page.Url)">@page.Url</a>: @page.Title</li>
                    }
                </ul>

                <p><strong>Children:</strong></p>
                <ul>
                    @foreach (var page in mvcPages.Children())
                    {
                        <li><a href="@(mvcPages.RootUrl +page.Url)">@page.Url</a>@page.Title</li>
                    }
                </ul>

            </div>

        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
